/* Mise en forme de la photo */
.card {
    margin-bottom: 20px;
    min-height: 300px; 
}
  
.card-img-top {
    width: 100%;
    height: 150px; /* Ajustez cette valeur pour changer la hauteur de l'image */
    object-fit: cover; /* Pour s'assurer que l'image couvre toute la zone, quel que soit son rapport d'aspect */
}
  
 
/** Ajouter annimation au click */
.card {
    transition: transform 0.3s ease-in-out;
}
.card:active {
    transform: scale(0.95);
}
  
/** Ajouter annimation au Hover */
  .card:hover {
    transform: scale(1.02);
}

/* Change la couleur du titre à bleu */
.card-title {
    color: #007bff;
}
  
/* Change la couleur du texte à gris */
.card-text {
    color: #6c757d;
}
  