<div class="container">
    <br />
    <br />
    <br />
    <button class="btn btn-primary" routerLink="/dashboard">Add photo</button>
    <div class="row">
      <div
        *ngFor="let data of photoData | async"
        class="col-lg-3 col-md-6 col-sm-12"
      >
        <br /><br />
        <div class="card" *ngIf="data?.id">
          <img
            class="card-img-top"
            [src]="
              data.imageUrl ? data.imageUrl : 'https://via.placeholder.com/200'
            "
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">{{ data.title }}</h5>
            <p
              class="card-text"
              style="
                max-width: 400px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              "
            >
              {{ data.description }}
            </p>

            <br />
            <br />
            <div class="card-footer">
              <button
                class="btn btn-danger position-absolute end-0"
                (click)="onLike(data)"
              >
                Like <i class="bi bi-hand-thumbs-up-fill"></i>
                {{ data.likes }}
              </button>
              <div style="margin-top: 25px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-top: 100px"></div>
