<br /><br />
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h2 class="mb-4 text-primary">Ajouter vos Photos</h2>
      </div>
      <form [formGroup]="photoForm" (ngSubmit)="saveData()">
        <!-- Champ pour le titre -->
        <div class="form-group">
          <label>Titre : </label>
          <input type="text" formControlName="title" class="form-control" />
          <div class="text-danger">{{ showErrorMessage("title") }}</div>
        </div>
        <!-- Champ pour le Description -->
        <div class="form-group">
          <label>Description : </label>
          <input
            type="text"
            formControlName="description"
            class="form-control"
          />
          <div class="text-danger">{{ showErrorMessage("description") }}</div>
        </div>
        <br />
        <div class="form-group">
          <label for="file">Choisir une photo : </label>
          <input
            type="file"
            class="form-control-file"
            id="file"
            (change)="onFileSelected($event)"
          />
        </div>
        <br />
        <!-- Bouton pour soumettre les données -->
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!photoForm.valid || !photoForm.touched"
        >
          Ajouter
        </button>
      </form>
    </div>
  </div>
</div>
<br /><br />

<!-- Tableau d'affichage -->
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" class="col">Titre</th>
        <th scope="col" class="col">Description</th>
        <th scope="col" class="col">Image</th>
        <th scope="col" class="col">Likes</th>
        <th scope="col" class="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of photoData | async">
        <td class="col">{{ data.title }}</td>
        <td
          style="
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          "
          class="col"
        >
          {{ data.description }}
        </td>
        <!-- <td class="col">{{ data.description | truncate : 70 }}</td> -->
        <td class="col">
          <img [src]="data.imageUrl" alt="Image" width="100" />
        </td>
        <td>{{ data.likes }}</td>
        <td class="col">
          <button
            type="button"
            class="btn btn-primary margin-left"
            (click)="editData(data)"
          >
            Edit
          </button>
          &nbsp;
          <button
            *ngIf="data?.id"
            type="button"
            class="btn btn-danger margin-left"
            (click)="deleteData(data.id!)"
            style="margin-right:12px;"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary position-absolute end-0" routerLink="/gallery">
    Voir Gallery
  </button>
</div>
<br><br><br>  <br><br><br>
